<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reg</title>
</head>
<style>
.errorlist{
    list-style-type: none;
    color:red;
    font-size:14px;
    margin:0;
    padding:0;
}
</style>
<body>
    <h1> Regestration </h1>
    <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
        {{field.label_tag}} {{field}} <span class="errorlist">
        {{field.errors|striptags}} </span> <br> <br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
</body>
</html>