<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            color:blue;
        }
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
    </form>
    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags %}
        <span class = "{{msg.tags}}"> {{msg}} </span>
             {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>